html, body {
  width: 304px;
}
.add, .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  width: 80%;
  padding: 5px;
}
.plus {
  width: 20%;
  padding: 5px;
}

#url, #add {
  width: 100%;
  background: none;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px 3px;
}
#url:hover, #url:focus {
  border-color: black;
}
#add {
  text-align: center;
}
#add:hover {
  color: white;
  background-color: grey;
}
#delete-all {
  background: white;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 2px 3px;
}

.delete-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.score {
  position: relative;
}
.score .overlay {
  display: none;
}

.score .overlay .delete {
  background: white;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 2px 3px;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10%;
  text-align: center;
}

.score:hover > .overlay {
  display: flex;
}
